{% extends 'TechgymPTFrontendBundle::base.html.twig' %}
{% block body %}
    {% include 'TechgymPTFrontendBundle:Login:menu.html.twig' %}
{% block stylesheets %}
   {{ parent() }}
    <link href="{{ asset('bundles/techgymptfrontend/css/perfilalumno.css') }}" rel="stylesheet">

{% endblock %}

 
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-8">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-6">
                    <h2>{{ alumno.nombre }}</h2>
                    <p><strong>Apellidos:</strong> {{ alumno.apellidos }} </p>
                    <p><strong>Username:</strong> {{ alumno.username }}</p>
                    <p><strong>Lunes: </strong>
                        <span class="tags">{{ alumno.lunes | date('d-m-Y') }}</span> 

                    </p>
                </div>             
                <div class="col-xs-12 col-sm-6 text-center">
                    <figure>
                        <img src="{{ asset('bundles/techgymptfrontend/imagenes/' ~ alumno.imagenalumno) }}" alt="" class="img-circle img-responsive">
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="javascript:;">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="javascript:;">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="javascript:;">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="javascript:;">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="javascript:;">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 20,7K </strong></h2>                    
                    <p><small>Peso</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Rutina </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>245</strong></h2>                    
                    <p><small>% Grasa</small></p>
                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Evaluacion </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>43</strong></h2>                    
                    <p><small>IMC</small></p>

                    <div class="btn-group dropup btn-block">
                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Opciones </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="javascript:;"><span class="fa fa-envelope pull-right"></span> Enviar un Correo </a></li>
                        <li><a href="javascript:;"><span class="fa fa-list pull-right"></span> Editar Alumno  </a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;"><span class="fa fa-warning pull-right"></span>Eliminar Alumno</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;" class="btn disabled" role="button"> Unfollow </a></li>
                      </ul>
                    </div>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>
 
{% endblock %}